.menu {
    border-top: double;
    border-bottom: double;
    padding: 5px 0;
    overflow: hidden; 
}
.logo {
    display: inline-block;
    float: left;
}

.menu-items {
    display: inline-block;
    float: right;
}
.menu-item {
	display: inline-block;
	color: black;
	margin: 0 10px;
}
.menu-item.active {
	color: green;
	font-weight: bold;
	border-left: double;
	border-right: double;
	padding: 0px 10px;
}
.head_imgs {
	height: 26vh;
	width: 90vw;
	margin: 10px auto;
}
.left_img {
	font-size: 0;
	display: inline-block;
	height: 26vh;
	width: 40vw;
	margin: 0px;
	padding: 0px;
}
.left2_img{
	width: 20vw;
}
.right_imgs {
	font-size: 0;
	display: inline-block;
	width: 28vw;
	height: 40vh;
	margin: 0px;
	padding: 0px;
}
.right_img {
	font-size: 0;
	display: inline-block;
	width: 29vw;
	max-height: 13vh;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
img {
	height: 100%;
	width: 100%;
}

.cards {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 0;
    width: 100%;
    white-space: nowrap;
}

.card {
    text-align: center;
    margin: 1%;
    width: 18%; 
    vertical-align: top;
    font-size: 16px;
    display: inline-block;
    white-space: normal;
}

.card_photo {
    width:70%;
    margin: 0 auto 15px auto; 
    border-radius: 50%;
    overflow: hidden; 
}

.card_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.card h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

.card button {
    background: #0078d7;
    color: white;
    width: 40%;
    padding: 6px 12px;
    border-radius: 6px;
}

div.content-left {
	display: inline-block;
	width: 62vw;
	margin-top: 0;
	margin-left: 3%;
	padding: 0px 1% 0px 0px;
	
}
[type="button"] {
	width: 5vw;
	background-color: rgb(33, 152, 255);
	color: white;
	border: 1px black thin;
	font-size: 0.75vw;
	margin-bottom: 3%;
}
div.content-left-center {
	display: inline-block;
	vertical-align: top;
	width: 30.2vw;
	margin: 0;
	padding: 1% 0.5%;
	padding-top: 0;
}
.content-left-center img {
	padding: 1% 0.5%;
	display: block;
	float: left;
	width: 10vw;
	height: 50vh;
}
.content-left-center h3 {
	text-align: center;
	font-size: 1.5vw;
}
.content-left-center p {
	width: 27vw;
	font-size: 1.5vw;
	text-align: justify;
	margin: 4% auto;
}
div.content-right {
	display: inline-block;
	vertical-align: top;
	width: 23vw;
	padding: 0px 0px 10px 10px;
}
.content-right .content-right-item {
	text-align: justify;
	display: block;
	width: 23vw;
}
.content-right-item img {
	float: right;
	width: 10vw;
	height: 14vh;
	margin: 10px;
}
.content-right-item div {
	display: block;
	vertical-align: middle;
	margin: 2%;
	font-size: 1.1vw;
}
.content-right-item div p {
	width: 10vw;
	margin-bottom: 1%;
}
.content-right-item h3{
	text-align: right;
	
}