.menu{
	display:flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    width:100%;
    border-top: double;
	border-bottom: double;
	padding: 5px 0;
}
.logo{
	flex-grow: 1;
	color: green;
	font-weight: bold;
}
.menu-item {
	color: black;
	margin: 0 10px;
}
.menu-item.active {
	color: green;
	font-weight: bold;
	border-left: double;
	border-right: double;
	padding: 0px 10px;
}
.head_imgs {
    display: grid;
	grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
	margin: 10px 0;
}
.head_imgs .img1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;   
}
.head_imgs .img2 {
    grid-column: 3;
    grid-row: 1 / 3;   
}
.head_imgs .img3 {
    grid-column: 4;
    grid-row: 1 ;   
}
.head_imgs .img4 {
    grid-column: 4;
    grid-row: 2;   
}
.head_imgs img {
    width: 100%;
    height: 100%;
    overflow: hidden
}
.center_img{
	display: flex;
	justify-content: space-evenly;
}
.circle_imgs{
	width: 120px;
	text-align: center;
	text-overflow: ellipsis;
	font-size: 12px;
	overflow: hidden;
}
.circle_imgs img{
	border-radius: 50%;
	width: 100%;
}
.name{
	font-weight: bold;
}
.crl_text{
	white-space: nowrap;
}
[type="button"] {
	width: 5vw;
	background-color: rgb(33, 152, 255);
	color: white;
	border: 1px black thin;
	font-size: 0.75vw;
	margin-bottom: 3%;
}
.content {
    display: grid;
	grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(6, 1fr);
	column-gap: 1vw;
	margin: 10px;
	width:90%;
}
.content > div {
    overflow: hidden;
}
.content img {
    width: 100%;
    height: 100%;
}
.imagefirst{
	grid-column: 1;
    grid-row: 1 / 4;  
}
.content-left{
	grid-column: 2;
    grid-row: 1 / 4;  
}
.content-left h3, .content-center h3 {
	text-align: center;
	font-size: 1.5vw;
}
.content-center{
	grid-column: 3 / 5;
    grid-row: 1 / 4; 
}
.content-right1{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 2fr;
	align-items: center;
	grid-column: 5/7;
    grid-row: 1; 
}

.content-right1 img {
    width: 100%;
    height: 100%;
}
.content-right2{
	display: grid;
	grid-column: 5/7;
    grid-row: 2; 
	align-items: center;
}
.content-right3{
	display: grid;
	grid-column: 5/7;
    grid-row: 3; 
	align-items: center;
}
.content-right1 h3, .content-right2 h3, .content-right3 h3{
	text-align: right;
	font-size: 1.5vw;
	
}
.content-right1 img, .content-right2 img, .content-right3 img {
    float: right;
    width: 10vw;
    height: 14vh;
    margin: 10px;
}
p {
	/* width: 27vw; */
	font-size: 1.5vw;
	text-align: justify;
	margin: 4% auto;
}
footer {
    background: silver;
    color: black;
    text-align: center;
    padding: 15px;
}

@media (max-width: 600px) {
	.menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
    .logo{
        grid-column: 1 / 3;
        text-align: center;
        margin-bottom: 10px;
    }
    .menu-item{
        text-align: center;
        margin: 0;
    }
	.head_imgs {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .head_imgs .img1,
    .head_imgs .img2,
    .head_imgs .img3,
    .head_imgs .img4 {
        grid-column: 1;
        grid-row: auto;
    }
    
    .center_img{
        flex-direction: column;
        align-items: center;
    }
    .circle_imgs{
        width: 80%;
        margin-bottom: 20px;
    }
    
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .imagefirst{
        grid-column: 1;
        grid-row: 1;
    }
    .content-left{
        grid-column: 1;
        grid-row: 2;
    }
    .content-center{
        grid-column: 1;
        grid-row: 3;
    }
    .content-right1{
        grid-column: 1;
        grid-row: 4;
        display: block;
    }
    .content-right2{
        grid-column: 1;
        grid-row: 5;
        display: block;
    }
    .content-right3{
        grid-column: 1;
        grid-row: 6;
        display: block;
    }
    
    .content-right1 img,
    .content-right2 img,
    .content-right3 img {
        float: none;
        width: 100%;
        height: auto;
        margin: 0 0 10px 0;
    }
    
    [type="button"] {
        width: 30vw;
        font-size: 3vw;
    }
    
    .content-left h3,
    .content-center h3,
    .content-right1 h3,
    .content-right2 h3,
    .content-right3 h3 {
        font-size: 5vw;
        text-align: center;
    }
    
    p {
        font-size: 2vw;
    }
}